
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th> S.N</th>
				<th ng-click="orderByMe('name')" ng-dblclick="orderByMe('-name')"> Name</th>
				<th ng-click="orderByMe('name')" ng-dblclick="orderByMe('-name')"> Address</th>
				<th ng-click="orderByMe('name')" ng-dblclick="orderByMe('-name')"> Class</th>
				<th ng-click="orderByMe('name')" ng-dblclick="orderByMe('-name')"> Mobile</th>
				<th ng-click="orderByMe('name')" ng-dblclick="orderByMe('-name')"> Activity</th>
			</tr>
		</thead>
		
			<tr ng-repeat="x in stdsarray.students | orderBy:myOrderBy | filter:{ id:id, name:name, class:class, address:address, mobile:mobile }" ng-include="getTemplate(x)">
			</tr>
		
	</table>

		<script type="text/ng-template" id="display">
					<td>{{x.id}}</td>
					<td>{{x.name}}</td>
					<td>{{x.address}}</td>
					<td>{{x.class}}</td>
					<td>{{x.mobile}}</td>
					<td> 
						<button class="btn btn-primary" ng-click=" editStudent(x)"><span class="glyphicon glyphicon-edit"> Edit</button>
						<button class="btn btn-primary" ng-click="removeStudent(x.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
					</td>
	</script>
	<script type="text/ng-template" id="edit">
					<td><input type="text" ng-model="stdsarray.selected.id" /></td>
					<td><input type="text" ng-model="stdsarray.selected.name" /></td>
					<td><input type="text" ng-model="stdsarray.selected.address" /></td>
        			<td><input type="text" ng-model="stdsarray.selected.class" /></td>
					<td><input type="text" ng-model="stdsarray.selected.mobile" /></td>
        			<td>
			            <button class="btn btn-primary" ng-click="saveStudent($index)"><span class="glyphicon glyphicon-save"></span> Save</button>
			            <button class="btn btn-primary" ng-click="reset()">Cancel</button>
			        </td>
    </script>