	<div class="modal fade" id="addstd" role="dialog">
    <div class="modal-dialog">
    
     
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Student</h4>
        </div>
        
        <div class="modal-body">
          <form >
           <div class="form-group">
            <!--input type="text" class="form-control" placeholder="ID" ng-model="id"><br-->
            <input type="text" class="form-control" placeholder="Name" ng-model="aname"><br>
               <input type="text" class="form-control" placeholder="Address" ng-model="add"><br>
               <input type="text" class="form-control" placeholder="Class" ng-model="aclass"><br>

               <input type="text" class="form-control" placeholder="Mobile" ng-model="amobile">
            </div>
        </form>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="addStudent()"><span class="glyphicon glyphicon-plus"></span> Add</button>
        </div>
      </div>
      
    </div>
  </div>