	<nav
   class="navbar sticky-top navbar-inverse">
		<div class="container-fluid">
   			 <div class="navbar-header">
     			<ul class="nav navbar-nav" style="color: #ffffff">
     				 <li class="active">Search</li>
    			</ul>
    		<form class="navbar-form navbar-right" action="">
     			 <div class="form-group">
     			 	<input type="text" class="form-control" placeholder="ID" ng-model="id">
       				 <input type="text" class="form-control" placeholder="Name" ng-model="name">
       				 <input type="text" class="form-control" placeholder="Class" ng-model="class">
      			</div>
      				<button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Search</button>
    
    		</form>
  		</div>		
	</nav>